{% extends 'base.html' %} 
{% block content %}

<h1 class="center-align title-font">New Recipe</h1>
<div class="row main-font">
    <form action="{{ url_for('insert_recipe') }}" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">favorite</i>
                <input id="recipe_name" name="recipe_name" type="text" required>
                <label for="icon_prefix" class="black-text">Enter Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="black-text"><i class="material-icons small">query_builder</i> Overall Preparation and Cooking Time - options required to save</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4 offset-s2">
                <select id="prep_timehrs" name="prep_timehrs" required>
                    <option value="" disabled selected>Select hours</option>
                    {% for i in range(11) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s4">
                <select id="prep_timemins" name="prep_timemins" required>
                    <option value="" disabled selected>Select Minutes</option>
                    {% for i in range(0, 70, 10) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <textarea name="description" id="description" class="materialize-textarea" maxlength="100" required></textarea>
                <label for="icon_telephone" class="black-text">Short description of recipe, no more than 100 characters please!</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="required_tools" maxlength="750" id="required_tools" class="materialize-textarea"></textarea>
                <label for="icon_telephone" class="black-text">Tools needed</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">kitchen</i>
                <textarea name="ingredients" maxlength="1000" id="ingredients" class="materialize-textarea" required></textarea>
                <label for="icon_telephone" class="black-text">Ingredients, please seperate ingredients with ' ; '. Don't foget to include amounts!</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="preparation_steps" maxlength="10000" id="preparation_steps" class="materialize-textarea" required></textarea>
                <label for="icon_telephone" class="black-text">Method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_dining</i>
                <select id="meals" name="meal_type" required>
                    <option value="" disabled selected>Select Meal Type - option required to save</option>
                    {% for meal in meals %}
                        <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Save Recipe<i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}