{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h1 class="center-align">Recipes for Breakfast</h1>
    </div>
</div>

 <ul class="collapsible" data-collapsible="accordion">
    {% for recipe in recipes %}
    {% if recipe.meal_type == 'Breakfast' %}    
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>    
                </div>
                <div class="col s9, flow-text">
                    <strong>{{recipe.recipe_name}}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <ul class="flow-text">
                    <li>
                        {{recipe.ingredients}}
                    </li>
                    <li>
                        {{recipe.required_tools}}
                    </li>
                    <li>
                        <p>
                            {{recipe.preparation_steps}}
                        </p>
                    </li>    
                </ul>
                <div>
                    <a href="" class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
            </div>       
        </li>
    {% endif %}
    {% endfor %}

{% endblock %}