{% extends 'base.html' %} 
{% block content %}

<h1 class="center-align title-font">Edit Recipe</h1>
<div class="row main-font">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">favorite</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}" required>
                <label for="icon_prefix" class="black-text">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">query_builder</i>
                <input id="prep_time" name="prep_time" type="text" class="validate" value="{{recipe.prep_time}}" required>
                <label for="icon_prefix" class="black-text">Average Preparation and Cooking Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <textarea name="description" id="description" class="materialize-textarea" maxlength="100">{{recipe.description}}</textarea>
                <label for="icon_telephone" class="black-text">Short description of recipe, no more than 100 characters please!</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="required_tools" id="required_tools" class="materialize-textarea">{{recipe.required_tools}}</textarea>
                <label for="icon_telephone" class="black-text">Tools needed</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">kitchen</i>
                <textarea name="ingredients" id="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                <label for="icon_telephone" class="black-text">Ingredients, don't forget to include amounts!</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="preparation_steps" id="preparation_steps" class="materialize-textarea" required>{{recipe.preparation_steps}}</textarea>
                <label for="icon_telephone" class="black-text">Method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_dining</i>
                <select id="meals" name="meal_type" required>
                    <option value="" disabled selected>Select Meal Type - option required to save</option>
                  {% for meal in meals %}
                      {% if meal.meal_type == recipe.meal_type%}
                      <option value="{{meal.meal_type}}" selected >{{meal.meal_type}}</option>
                      {% else %}
                       <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Save Changes<i class="material-icons right">update</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}