{% extends 'base.html' %}
{% block content %}
   
<div class="section row">
    <div class="col s12">
        <h1 class="center-align title-font">Love Recipes</h1>
    </div>
</div>

<div class="section row">
    <div class="col s12 main-font flow-text center-align">
        <p>Got a recipe you're really proud of? Want to share this with the world? Love Recipes is an online cookbook that is always changing and updating. You can share your own recipes or find new ones to try out yourself.</p>

        <p>Need to invest in some good quality tools for cooking and baking? Check out our store using the link below for 10% off all items!</p>
        <button href="#!" target="_blank" class="btn">Shop now!</button>
            
        <p>If you have recently discovered an amazing recipe that is just too good to keep to yourself, share it with the world on Love Recipes! Or if you want to try something new, search the recipes already on our website. If you don't know what you want to make and are looking for inspiration, don't worry! Recipes are sorted by meal type. Just choose the meal you're preparing, even if it's just a snack, and have a browse through.</p>
            
        <p>Ready to begin looking? <a class="blue-grey-text text-darken-2" href="{{url_for('get_recipes')}}">Search here</a></p>
            
        <p>Or <a class="blue-grey-text text-darken-2" href="{{url_for('add_recipe')}}">add your own</a>!</p>
    </div>
</div>

<div class="section row">
    <div class="col s12 picture-box center-align">
        <img src="{{url_for('static', filename='images/cooking.jpg')}}" alt="Image of baking ingredients" class="picture center-align"/>
    </div>
</div>

{% endblock %}