{% extends 'base.html' %}
{% block content %}

<div class="row center-align flow-text">
    <div class="col s12">
        <h1 class="title-text title-font">{{recipe.recipe_name}}</h1>
    </div>
    <div class="col s12">
        <h4 class="sub-title">{{recipe.meal_type}}</h4>
        <p class="time-text">Average preparation and cooking time: {{recipe.prep_time}}</p>
    </div>
</div>
<div class="divider">
</div>
<div class="row main-font">
    <div class="section">
        <div class="col s12">
            <h5 class="left-align">Ingredients</h5>
            <p class="left-align ingredients-list">{{recipe.ingredients}}</p>
        </div>
    </div>
    <div class="section">
        <div class="col s12">
            <h5 class="left-align">Tools Required</h5>
            <p class="left-align tools-text">{{recipe.required_tools}}</p>
        </div>
        <div class="col s6 offset-s3 center-align">
            <p class="center-align">Don't have the tools you need? Check out our partner store for some great products for all your culinary needs. Use the link below for a 10% discount!</p>
            <button href="#!" target="_blank" class="center-align btn">Shop now!</button>
        </div>
    </div>
    <div class="section">
        <div class="col s12">
            <h5 class="left-align">Preparation and Cooking Steps</h5>
            <p class="left-align tools-text">{{recipe.preparation_steps}}</p>
        </div>
    </div>
    <div class="col s12 right-align">
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small cyan">Edit</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue-grey darken-1">Delete</a>
    </div>
</div>

{% endblock %}